<html>
	<head>
		<!-- Título da Página -->
		<title>Poluição</title>
		<meta name="autor" content="Anderson Valente Ferreira e Daiane Selau Stedile">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
		<link rel="stylesheet" href="formato.css" type="text/css">
	<head>
	</body>
		<div id="titulo">
			<span id="nome">POLUIÇÃO</span>
			<!-- Logotipo Empresa -->
			<a name="#minhaancora" href="index.html#minhaancora">
				<img id="logo" src="ecologia.jpg" title="Ecologia" height= "170px" width= "200px"></img>
			</a>
			<div id="menu">
				<img id="help" src="ajuda3.jpg" title="Ecologia" height="205px"width="235px">
				<div id="navigation">
					<ul id="navigation_bar">
						</br>
						</br>
						<li><a href="conteudo1.html#minhaancora">Poluição Água</a></li>
						</br>
						</br>
						<li><a href="conteudo2.html#minhaancora">Poluição Ar</a></li>
						</br>
						</br>
						<li><a href="conteudo3.html#minhaancora">Poluição Terra</a></li>
						</br>
						</br>
						<li><a href="index.html#minhaancora">Voltar</a></li>
					</ul>
				</div>
				<img id="banner" style="position:absolute" src="banner.jpeg" title="Ecologia Company" height= "170px" width= "925px">
					<p class="texto">
					&nbsp &nbsp Poluir o meio ambiente é um crime que muitas pessoas estão cometendo indiscriminadamente, 
					e essas pessoas que poluem indiscriminadamente não estão pensando num futuro que pode ter muita 
					poluição no meio ambiente. Esta causando muitos males a população mundial, isto esta provocando doenças sérias em casos de enchentes 
					que vem acontecendo com muita frequência no sul do Brasil e alias em todas as regiões para ser sincero, mas não são apenas enchentes 
					que acontecem por causa dessa poluição causada pelos seres humanos sem consciência nenhuma.
					A poluição causada através das queimadas e gases poluentes que saem dos escapamentos de carros e fabricas contribuem para um 
					problema mundial conhecido por aquecimento global, e por causa desse problema mundial que muitos devem pensar muito bem antes
					de poluir o nosso ecossistema.</br>
					&nbsp &nbsp A poluição ambiental tem, em geral, duas causas principais, 
					responsáveis pelo actual estado decadente do nosso planeta. Uma delas é a tendência que o Homem sempre sentiu para a mecanização. 
					Como nenhum outro ser vivo, o Homem consegue transformar as matérias-primas que dispõe, de forma a torná-las úteis para si, seja 
					como ferramentas ou máquinas, e como objecto de lazer ou arte. Durante a confeção de todos estes artigos formam-se quantidades 
					apreciáveis de resíduos inúteis, que com o tempo acabam por comprometer o ambiente. Além disso, durante estes processos de 
					fabricação, não é consumida apenas a energia própria do corpo humano, há consumo de energias sobretudo provenientes de outras 
					fontes. Também a produção de energia está associada a uma poluíção do meio ambiente. Assim sendo, todo o processo de 
					industrialização constitui um dos principais responsáveis pela poluição ambiental.   
					A segunda causa do comprometimento do meio ambiente reside no contínuo aumento da população, que, entre outros, implica uma 
					crescente produção de alimentos.  Uma vez que a área de terras cultiváveis não pode crescer ao mesmo ritmo do que a população,
					o necessário aumento de produção só pode ser atingido mediante uma intensificação da agricultura nas áreas já disponíveis. 
					Para tal, torna-se necessária uma eficiente produção de fertilizantes, seja em forma de adubos orgânicos, seja em forma de 
					fertilizantes minerais, exigindo-se ainda uma protecção eficiente das plantas cultivadas contra pragas de origem vegetal ou 
					animal. Mas a necessidade do emprego de meios químicos de proteção é perfeitamente criticável, porque embora eles possam 
					aumentar a produção em até 50%, o fabrico e uso de fertilizantes e pesticidas constituem o segundo maior componente da poluição 
					ambiental. A poluição ambiental é um problema de consequências graves.</p>
			</div>
		</div>
		<div id="rodape">
			</br>
			<span class="contato">
				<b>Contatos:</b>
			</span>
			</br>
			<span class="contato">
				Telefone: 0800 606 0606
			</span>
			</br>
			<span class="contato"> 
				E-mail: <a href="anderson.valente888@gmail.com">contato@ecologiacompany.com.br</a>
			</span>
			</br>
			<span class="contato">
				Endereço:
			</span>
			<span class="contato">
				Rua Gustavo Ramos Sehbe, 107</br>
				Bairro Cinquentenário</br> 
				Caxias do Sul  RS</br> 
				CEP 95012-669</br> 
				Telefone: (54) 3027 1300
			</span>
		</div>

	</body>		
		
<html>

<!-- Página com conteúdo sobre Poluição Água -->
<html>
	<head>
		<!-- Título da Página -->
		<title>Poluição Água</title>
		<meta name="autor" content="Anderson Valente Ferreira e Daiane Selau Stedile">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
		<link rel="stylesheet" href="formato.css" type="text/css">
	<head>
	</body>
		<div id="titulo">
			<span id="nome">POLUIÇÃO ÁGUA</span>
			<!-- Logotipo Empresa -->
			<a name="#minhaancora" href="index.html#minhaancora">
				<img id="logo" src="ecologia.jpg" title="Ecologia" height= "170px" width= "200px"></img>
			</a>
			<div id="menu">
				<img id="help" src="ajuda3.jpg" title="Ecologia" height="205px"width="235px">
				<div id="navigation">
					<ul id="navigation_bar">
						</br>
						</br>
						<li><a href="conteudo1.html#minhaancora">Poluição Água</a></li>
						</br>
						</br>
						<li><a href="conteudo2.html#minhaancora">Poluição Ar</a></li>
						</br>
						</br>
						<li><a href="conteudo3.html#minhaancora">Poluição Terra</a></li>
						</br>
						</br>
						<li><a href="index.html#minhaancora">Voltar</a></li>
					</ul>
				</div>
				<img id="banner" style="position:absolute" src="banner.jpeg" title="Ecologia Company" height= "170px" width= "925px">
					<p class="texto">
					&nbsp &nbsp A poluição da água indica que um ou mais de seus usos foram prejudicados, podendo atingir o homem de forma direta,
					pois ela é usada por este para ser bebida, para tomar banho, para lavar roupas e utensílios e, principalmente, 
					para sua alimentação e dos animais domésticos. Além disso, abastece nossas cidades, sendo também utilizada nas indústrias e 
					na irrigação de plantações. Por isso, a água deve ter aspecto limpo, pureza de gosto e estar isenta de microorganismos 
					patogênicos, o que é conseguido através do seu tratamento, desde da retirada dos rios até a chegada nas residências 
					urbanas ou rurais. A água de um rio é considerada de boa qualidade quando apresenta menos de mil coliformes fecais e menos 
					de dez microorganismos patogênicos por litro (como aqueles causadores de verminoses, cólera, esquistossomose, febre tifóide, 
					hepatite, leptospirose, poliomielite etc.). Portanto, para a água se manter nessas condições, deve-se evitar sua contaminação
					por resíduos, sejam eles agrícolas (de natureza química ou orgânica), esgotos, resíduos industriais, lixo ou sedimentos 
					vindos da erosão.</br>
					&nbsp &nbsp Sobre a contaminação agrícola temos, no primeiro caso, os resíduos do uso de agrotóxicos (comum na agropecuária),
					que provêm de uma prática muitas vezes desnecessária ou intensiva nos campos, enviando grandes quantidades de substâncias 
					tóxicas para os rios através das chuvas, o mesmo ocorrendo com a eliminação do esterco de animais criados em pastagens. 
					No segundo caso, há o uso de adubos, muitas vezes exagerado, que acabam por ser carregados pelas chuvas aos rios locais, 
					acarretando o aumento de nutrientes nestes pontos; isso propicia a ocorrência de uma explosão de bactérias decompositoras 
					que consomem oxigênio, contribuindo ainda para diminuir a concentração do mesmo na água, produzindo sulfeto de hidrogênio, 
					um gás de cheiro muito forte que, em grandes quantidades, é tóxico. Isso também afetaria as formas superiores de vida animal 
					e vegetal, que utilizam o oxigênio na respiração, além das bactérias aeróbicas, que seriam impedidas de decompor a matéria 
					orgânica sem deixar odores nocivos através do consumo de oxigênio.</br>
					&nbsp &nbsp Os resíduos gerados pelas indústrias, cidades e atividades agrícolas são sólidos ou líquidos, tendo um potencial
					de poluição muito grande. Os resíduos gerados pelas cidades, como lixo, entulhos e produtos tóxicos são carreados para os
					rios com a ajuda das chuvas. Os resíduos líquidos carregam poluentes orgânicos (que são mais fáceis de ser controlados do
					que os inorgânicos, quando em pequena quantidade). As indústrias produzem grande quantidade de resíduos em seus processos,
					sendo uma parte retida pelas instalações de tratamento da própria indústria, que retêm tanto resíduos sólidos quanto líquidos,
					e a outra parte despejada no ambiente. No processo de tratamento dos resíduos também é produzido outro resíduo chamado 
					"chorume", líquido que precisa novamente de tratamento e controle. As cidades podem ser ainda poluídas pelas enxurradas, pelo
					lixo e pelo esgoto.</p>
			</div>
		</div>
		<div id="rodape">
			</br>
			<span class="contato">
				<b>Contatos:</b>
			</span>
			</br>
			<span class="contato">
				Telefone: 0800 606 0606
			</span>
			</br>
			<span class="contato"> 
				E-mail: <a href="anderson.valente888@gmail.com">contato@ecologiacompany.com.br</a>
			</span>
			</br>
			<span class="contato">
				Endereço:
			</span>
			<span class="contato">
				Rua Gustavo Ramos Sehbe, 107</br>
				Bairro Cinquentenário</br> 
				Caxias do Sul  RS</br> 
				CEP 95012-669</br> 
				Telefone: (54) 3027 1300
			</span>
		</div>

	</body>		
		
<html>

<!-- Página com conteúdo sobre Poluição Ar -->
<html>
	<head>
		<!-- Título da Página -->
		<title>Poluição Ar</title>
		<meta name="autor" content="Anderson Valente Ferreira e Daiane Selau Stedile">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
		<link rel="stylesheet" href="formato.css" type="text/css">
	<head>
	</body>
		<div id="titulo">
			<span id="nome">POLUIÇÃO AR</span>
			<!-- Logotipo Empresa -->
			<a name="#minhaancora" href="index.html#minhaancora">
				<img id="logo" src="ecologia.jpg" title="Ecologia" height= "170px" width= "200px"></img>
			</a>
			<div id="menu">
				<img id="help" src="ajuda3.jpg" title="Ecologia" height="205px"width="235px">
				<div id="navigation">
					<ul id="navigation_bar">
						</br>
						</br>
						<li><a href="conteudo1.html#minhaancora">Poluição Água</a></li>
						</br>
						</br>
						<li><a href="conteudo2.html#minhaancora">Poluição Ar</a></li>
						</br>
						</br>
						<li><a href="conteudo3.html#minhaancora">Poluição Terra</a></li>
						</br>
						</br>
						<li><a href="index.html#minhaancora">Voltar</a></li>
					</ul>
				</div>
				<img id="banner" style="position:absolute" src="banner.jpeg" title="Ecologia Company" height= "170px" width= "925px">
					<p class="texto">
					&nbsp &nbsp A poluição do ar é um risco para a saúde das pessoas, a fumaça densa sobre as cidades é a forma mais familiar 
					e óbvia de poluição do ar. Mas há diferentes tipos de poluição, algumas visíveis, outras invisível, que contribuem para 
					o aquecimento global. Geralmente qualquer substância que as pessoas introduzem na atmosfera que tem efeitos prejudiciais 
					sobre os seres vivos e o meio ambiente é considerada poluição do ar. </br>
					&nbsp &nbspO Dióxido de carbono, um gás de efeito estufa, é o principal poluente que está aquecendo a Terra. 
					Embora os seres vivos liberem dióxido de carbono quando respiram, ele é amplamente considerado como um poluente quando 
					associado a carros, aviões, usinas elétricas e outras atividades humanas que envolvem a queima de combustíveis fósseis, 
					como gasolina e gás natural. Nos últimos 150 anos, essas atividades têm bombeado dióxido de carbono para a atmosfera o 
					suficiente para elevar os seus níveis. </br>
					&nbsp &nbspOutro Produtos químicos de dióxido de enxofre estão estreitamente relacionados a uma das causas da chuva ácida.
					Mas eles também refletem a luz quando liberado na atmosfera, o que mantém a luz do sol do lado de fora, e assim esfriando 
					a Terra. As erupções vulcânicas podem expelir grandes quantidades de dióxido de enxofre na atmosfera, às vezes causando 
					resfriamento que dura anos. Na verdade, vulcões costumavam ser a principal fonte de dióxido de enxofre na atmosfera, 
					hoje são as pessoas</br>
					&nbsp &nbsp Os países industrializados têm trabalhado para reduzir os níveis de dióxido de enxofre, e fumaça, a fim de 
					melhorar a saúde das pessoas. A maioria das pessoas concordam que, para frear o aquecimento global, uma série de medidas 
					precisam ser tomadas. Em um nível pessoal, dirigir e voar menos, reciclar e conservar pode ajudar a reduzir a 
					emissão de gases que uma pessoa coloca na atmosfera. </br>
					&nbsp &nbspEm Os governos estão tomando medidas para limitar as emissões de dióxido de carbono e
					outros gases de efeito estufa. Através do Protocolo de Kyoto, um acordo entre os países, tem o objetivo de diminuir as
					emissões de dióxido de carbono. </br>
					&nbsp &nbsp Impactos ambientais e econômicos da poluição do ar são adversos e significativos. No entanto, existem
					diferentes formas de prevenir a poluição do ar. Sem dúvida, as agências de proteção ambiental e o governo estão tomando 
					medidas para reduzi-lo através da implementação de várias políticas. No entanto, esses esforços só se revelam realmente 
					eficazes se cada cidadão agir de forma responsável com o meio ambiente.</p>
			</div>
		</div>
		<div id="rodape">
			</br>
			<span class="contato">
				<b>Contatos:</b>
			</span>
			</br>
			<span class="contato">
				Telefone: 0800 606 0606
			</span>
			</br>
			<span class="contato"> 
				E-mail: <a href="anderson.valente888@gmail.com">contato@ecologiacompany.com.br</a>
			</span>
			</br>
			<span class="contato">
				Endereço:
			</span>
			<span class="contato">
				Rua Gustavo Ramos Sehbe, 107</br>
				Bairro Cinquentenário</br> 
				Caxias do Sul – RS</br> 
				CEP 95012-669</br> 
				Telefone: (54) 3027 1300
			</span>
		</div>

	</body>		
		
<html>

<!-- Página com conteúdo sobre Poluição Terra -->
<html>
	<head>
		<!-- Título da Página -->
		<title>Poluição Terra</title>
		<meta name="autor" content="Anderson Valente Ferreira e Daiane Selau Stedile">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
		<link rel="stylesheet" href="formato.css" type="text/css">
	<head>
	</body>
		<div id="titulo">
			<span id="nome">POLUIÇÃO TERRA</span>
			<!-- Logotipo Empresa -->
			<a name="#minhaancora" href="index.html#minhaancora">
				<img id="logo" src="ecologia.jpg" title="Ecologia" height= "170px" width= "200px"></img>
			</a>
			<div id="menu">
				<img id="help" src="ajuda3.jpg" title="Ecologia" height="205px"width="235px">
				<div id="navigation">
					<ul id="navigation_bar">
						</br>
						</br>
						<li><a href="conteudo1.html#minhaancora">Poluição Água</a></li>
						</br>
						</br>
						<li><a href="conteudo2.html#minhaancora">Poluição Ar</a></li>
						</br>
						</br>
						<li><a href="conteudo3.html#minhaancora">Poluição Terra</a></li>
						</br>
						</br>
						<li><a href="index.html#minhaancora">Voltar</a></li>
					</ul>
				</div>
				<img id="banner" style="position:absolute" src="banner.jpeg" title="Ecologia Company" height= "170px" width= "925px">
					<p class="texto"> 
					&nbsp &nbsp O registro e mapeamento de áreas contaminadas e sua consequente recuperação demandam uma boa quantidade de
					tempo e trabalho, dependendo de estudos profundos de geologia, hidrologia, química e simulação computadorizada.</br>
					&nbsp &nbsp Um atual desafio relacionado ao tema é o dos pesticidas utilizados nas lavouras para a eliminação de pragas. 
					Com o constante aumento da população e ocupação de áreas cada vez mais próximas a regiões de cultivo, torna-se 
					questão de suma importância o equacionamento da utilização racional de materiais agrotóxicos e a consquente manutenção 
					de um solo livre de poluentes e agentes tóxicos, que, fatalmente, entrarão em contato com o ser humano. Temos como 
					principais pesticidas os utilizado no combate a insetos vetores de doenças contagiosas; a seguir temos os
					herbicidas, utilizados na destruição de vegetação e ervas daninhas bem como espécies parasitárias, e finalmente, 
					os fungicidas, atuantes no combate a fungos  que ameacem o desenvolvimento da cultura a ser desenvolvida.</br> 
					&nbsp &nbsp Importante lembrar que o grau de concentração de cada agente danoso à saúde dos organismos vivos é um ponto
					importante na contaminação do solo. A presença dos agentes contaminantes em determinado solo reflete de forma direta na
					presença de vida naquela área, ocasionando sua degradação, redução do número de espécies presentes no terreno e a 
					acumulação de agentes tóxicos na vegetação. Assim, indiretamente, por meio da cadeia trófica, a ocorrência de um solo
					com agentes contaminadores pode assumir um aspecto bastante relevante, pois tais agentes, absorvidos e acumulados pela
					vegetação serão transmitidos à fauna em doses muito superiores às que estes teriam por contato direto com o solo.</p>
			</div>
		</div>
		<div id="rodape">
			</br>
			<span class="contato">
				<b>Contatos:</b>
			</span>
			</br>
			<span class="contato">
				Telefone: 0800 606 0606
			</span>
			</br>
			<span class="contato"> 
				E-mail: <a href="anderson.valente888@gmail.com">contato@ecologiacompany.com.br</a>
			</span>
			</br>
			<span class="contato">
				Endereço:
			</span>
			<span class="contato">
				Rua Gustavo Ramos Sehbe, 107</br>
				Bairro Cinquentenário</br> 
				Caxias do Sul – RS</br> 
				CEP 95012-669</br> 
				Telefone: (54) 3027 1300
			</span>
		</div>

	</body>		
		
<html>


<!-- Código CSS de Formatação do Trabalho -->
#titulo{
	position:absolute; 
	top: 10px; 
	left:10px; 
	height:200px; 
	width:1330px; 
	background-color:#006400;
}
#nome{				
	color:white;
	font-size:80px; 
	text-align:center; 
	font-weight: bold;
	position:absolute; 
	top:60px; 
	left:310px; 
	height:900px; 
	width:750px;
}
#logo{
	position:absolute; 
	top: 15px; 
	left: 10px; 
	bottom:10px;					
}
#logo_help{
	postion: absolute; 
	top: 10px; 
	left:10px; 
	rigth:10px;
}
#menu{
	position:absolute; 
	top: 200px; 
	border: 0px; 
	left: 00px; 
	height:900px; 
	width:270px; 
	display:table;
}
#menu1{
	display:table; 
	position:absolute; 
	top: 10px; 
	height:1400px; 
	width:370px;
}
#navigation{
    display: inline-block;
    margin-top:20px;
	margin-left:60px;
}

#navigation_bar{
    list-style-type:none;
    margin:center;
    padding:0;
    overflow:hidden;
    font-family:arial;
}
#navigation_bar li{
    float:bottom;
}
#navigation_bar a:link, #navigation_bar a:visited{
    display:block;
    width:120px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#006400;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
#navigation_bar a:hover,#navigation_bar a:active{
    background-color:#556B2F;
}
#help{
	margin:center;
	margin-left:15px;
}
#area_texto{
	
}
#banner{
	position:abosolute;
	top:8px;
	left:290px;
	margin-left:115px;
	margin-top:0px;
}
.texto{
	position:absolute;
	top:200px;
	font-family: arial;
	font-size:20px;
	margin-top:0px;
	margin-left:130px;
	margin-right:50px;
	color: #006400;
	text-align:justify;
    bottom:00px;
	left:280px;
	right:0px;
	height:900px; 
	width:900px;
}
#rodape{
	position:absolute; 
	bottom:-700px; 
	left:10px; 
	height:200px; 
	width:1330px; 
	background-color:#FFFAFA;
}
.contato{
	color:black;
	font-size:14px;
	font-family:Arial;
}
